# Dependências
node_modules/

# Variáveis de ambiente
.env

# Build do TypeScript
dist/
build/

# Sass compilado
**/*.css.map

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Backend compilado
backend/dist/

# Variáveis de ambiente do backend
backend/.env